.banner {
  width: initial;
  margin-left: initial;
  margin-right: initial;
  padding: 19px 0 33px;
  margin-bottom: 30px;

  @include e(title) {
    font-size: rem(30px);
    padding: 47px 0 47px 31px;
  }

  @include e(image-box) {
    width: 260px;
    height: 128px;
    margin-left: 65px;
  }
}
